@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;

}

body {
  /* margin: 0; */
  background-color: #22254b;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  background-color: #373b69;
  border-radius: 10px;
  box-shadow: 3px, 3px, 15px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 1rem;
  width: 250px
}

.movie img {
  max-width: 100%;
}

.movieInfo {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movieInfo h3 {
  margin: 0;
}